@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 0%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary-red: 4 82% 47%;
        --primary-beige: 31 36% 88%;
        --primary-soil: 20 2% 28%;
        --primary-foreground: 0 0% 100%;

        --secondary-shell: 27 35% 94%;
        --secondary-sand: 27 43% 78%;
        --secondary-sand-soft: 31 36% 88%;
        --secondary-leather: 25 50% 63%;
        --secondary-pine: 155 11% 31%;
        --secondary-eucalyptus: 152 17% 45%;
        --secondary-olive: 51 14% 47%;
        --secondary-terracotta: 30 92% 54%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 93% 71%;
        --destructive-foreground: 210 40% 98%;

        --success: 124 77% 93%;

        --warning: 31 100% 72%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;

        --magenta: 222.2 84% 4.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-primary-soil;
    }
}

.page-section {
    @apply container my-6 lg:my-8;
}

.article-layout {
    @apply container my-6 max-w-screen-lg lg:my-8;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Plantagen", sans-serif;
    font-weight: normal;
}

.richTextLink a:hover {
    text-decoration: underline;
}
